extends layout

block content
  h1 Register page
  form(action='/users/register', method='post')
    .form-group
      label Name
      input.form-control(type='text', name='name')
    .form-group
      label Email
      input.form-control(type='text', name='email')
    .form-group
      label Username
      input.form-control(type='text', name='username')
    .form-group
      label Password
      input.form-control(type='password', name='password')
    .form-group
      label Confirm Password
      input.form-control(type='password', name='password_confirm')
    br
    input.btn.btn-primary(type='submit', value='Submit')
