extends ../layouts/master

block content
  h1 Create Article
  form(action='/articles/create', method='post')
    .form-group
      label Title
      input.form-control(type='text', name='title')
    .form-group
      label Content
      input.form-control(type='text', name='content')
    .form-group
      label Author
      input.form-control(type='text', name='author')
    br
    input.btn.btn-primary(type='submit', value='Submit')
